@model IEnumerable<GameStore.Models.Game>

@{
    ViewBag.Title = "Games";
}

<h2>@ViewBag.Title</h2>

<h3>@ViewBag.Message</h3>

<p>@Html.ActionLink("Add a new game", "Create", null, new { @class = "btn btn-info" })</p>

@using (Html.BeginForm("Index", "Games", FormMethod.Get))
{
    <p>
        Title: @Html.TextBox("SearchString")
        Rating: @Html.DropDownList("gameRating", "All")
        <input type="submit" class="btn btn-info" value="Search">
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Platform)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Platform)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td class="col-sm-6 col-md-4">
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-info" })
                @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-info" })
                @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
